bootstrap.servers=pkc-l6wr6.europe-west2.gcp.confluent.cloud:9092
security.protocol=SASL_SSL
sasl.oauthbearer.token.endpoint.url=https://rohit-cc.auth.eu-west-2.amazoncognito.com/oauth2/token
sasl.login.callback.handler.class=org.apache.kafka.common.security.oauthbearer.secured.OAuthBearerLoginCallbackHandler
sasl.mechanism=OAUTHBEARER
sasl.jaas.config= \
  org.apache.kafka.common.security.oauthbearer.OAuthBearerLoginModule required \
    clientId='1rphuj0558qevc5l33f9eli8gr' \
    scope='confluent-cloud/ccloud' \
    clientSecret='v79b7a14f3imnfbrigb6iecobfo4tofplh153937lvf8g7pk3f0' \
    extension_logicalCluster='lkc-63nxwj' \
    extension_identityPoolId='pool-jbQJ';